body {
    font-family: Arial, sans-serif;
    background-image:url(lib2.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

form {
    font-size: 24px;
    width: 350px;
    margin: 25px auto;
    border-radius: 18px;
    background-color: aqua;
}

label, input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

button {
    width: auto;
    padding: 10px 20px;
}
a{
    text-decoration: none;
    background-color: red;
    color: white;
}
input{
    width: 350px;
    margin: 15px auto;
}